<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VirtualFlightOnlineTransmitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <VirtualFlightOnlineTransmitter.Properties.Settings>
      <setting name="servers" serializeAs="String">
        <value>[{"serverName":"VirtualFlight.Online","callsign":"Callsign","pilotName":"Pilot Name","groupName":"VirtualFlight.Online","notes":"","msfsServer":"WEST EUROPE","autoConnect":"true","serverURL":"https://transmitter.virtualflight.online/transmit","pin":"1234"}]</value>
      </setting>
      <setting name="serverName" serializeAs="String">
        <value>Your Server Name</value>
      </setting>
      <setting name="callsign" serializeAs="String">
        <value>Your Callsign</value>
      </setting>
      <setting name="pilotName" serializeAs="String">
        <value>Your Pilot Name</value>
      </setting>
      <setting name="groupName" serializeAs="String">
        <value>Your Group Name</value>
      </setting>
      <setting name="notes" serializeAs="String">
        <value />
      </setting>
      <setting name="msfsServer" serializeAs="String">
        <value>WEST EUROPE</value>
      </setting>
      <setting name="autoConnect" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="serverURL" serializeAs="String">
        <value>https://transmitter.virtualflight.online/transmit.php</value>
      </setting>
      <setting name="pin" serializeAs="String">
        <value>1234</value>
      </setting>
      <setting name="selectedServer" serializeAs="String">
        <value>0</value>
      </setting>
    </VirtualFlightOnlineTransmitter.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.115.0" newVersion="1.0.115.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>