<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VirtualFlightOnlineTransmitter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <VirtualFlightOnlineTransmitter.Properties.Settings>
      <setting name="Callsign" serializeAs="String">
        <value>Your Callsign</value>
      </setting>
      <setting name="AircraftType" serializeAs="String">
        <value>Your Aircraft Type</value>
      </setting>
      <setting name="PilotName" serializeAs="String">
        <value>Your Name</value>
      </setting>
      <setting name="GroupName" serializeAs="String">
        <value>VirtualFlight.Online</value>
      </setting>
      <setting name="ServerURL" serializeAs="String">
        <value>http://yourserver/send.php</value>
      </setting>
      <setting name="Notes" serializeAs="String">
        <value />
      </setting>
      <setting name="MSFSServer" serializeAs="String">
        <value>SOUTH EAST ASIA</value>
      </setting>
      <setting name="AutoConnect" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="BroadcastToDiscord" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="BroadcastLocation" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="BroadcastNotes" serializeAs="String">
        <value>false</value>
      </setting>
    </VirtualFlightOnlineTransmitter.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.115.0" newVersion="1.0.115.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>